---
import Header from "../components/Header.astro";
import Presentations from "../components/Presentations.astro";
import Locations from "../components/Locations.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NUECERY</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <link rel="icon" type="image/png" href="/images/nuecery-logo.png" />
  </head>
  <body>
    <Header />
    <main>
      <section class="main-section">
        <h1>Nuecery</h1>
        <p>Nueces de la mejor calidad, seleccionadas a mano y tostadas a la perfección.</p>
        <a href="#presentaciones" class="button">Ver Productos</a>
      </section>
      <Presentations />
      <Locations />
      <Contact />
    </main>
    <Footer />
  </body>
</html>
