---
import Header from "../components/Header.astro"
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NUECERY</title>
    <link rel="stylesheet" href="./styles/styles.css" />
    <link rel="icon" type="image/png" href="/images/nuecery-no-bg.png" />
  </head>
  <body>
    <Header />
    <!-- <img class="carousel" src="/images/nuez2.jpg" alt="nuez" /> -->
    <div class="container">
      <section id="acerca" class="principal-section">
          <div class="inner-container">
            <div class="content">
              <h1>NUECERY</h1>
              <hr />
              <p>
                Venta de nuez de temporada! Perfecta para tus platillos, dieta y
                consumo diario de uno de los frutos secos más saludables y
                deliciosos de la región
              </p>
            </div>
            <img class="big-img" src="/images/nuez.jpg" alt="nuez" />
          </div>
        </section>
      <section id="productos" class="principal-section">
        <div class="inner-container">
          <img class="big-img" src="/images/nuez5.jpg" alt="nuez" />
          <div class="content">
            <h1>NUECERY</h1>
            <p>
              Corazon Kg $310 Corazon 500grs $165 Pedaceria Kg $240 Pedaceria
              500grs $135 Granillo Kg $210 Granillo 500 grs $120 Granzon Kg $140
              Granzon 500 grs $80 Garapiñada 500gr $190 Garapiñada 250gr $100
            </p>
          </div>
        </div>
      </section>
      <section id="puntos" class="principal-section">
        <div class="inner-container">
          <div class="content">
            <h1>NUECERY</h1>
            <p>
              Visita nuestros puntos de venta o llámanos para ventas a mayoreo
              al número: 625 110 4332
            </p>
          </div>
          <img class="big-img" src="/images/nuez6.jpg" alt="nuez" />
        </div>
      </section>
      <section id="contacto" class="principal-section">
        <div class="inner-container">
          <img class="big-img" src="/images/nuez7.jpg" alt="nuez" />
          <div class="content">
            <h1>NUECERY</h1>
            <p>Somos tal y tal</p>
          </div>
        </div>
      </section>
      <section id="About Us" class="principal-section">
        <div class="inner-container">
          <div class="content">
            <h1>NUECERY</h1>
            <p>Somos tal y tal</p>
          </div>
          <img class="big-img" src="/images/nuez8.jpg" alt="nuez" />
        </div>
      </section>
    </div>
  </body>
</html>
