<header class="header">
  <img src="/images/nuecery-logo.png" alt="Nuecery Logo" class="logo" />
  <nav class="nav">
    <a href="/">Inicio</a>
    <a href="/#presentaciones">Nuestras Presentaciones</a>
    <a href="/#puntos-venta">Puntos de Venta</a>
    <a href="/#contacto">Contacto</a>
  </nav>
  <img src="/images/nuecery-logo.png" alt="Nuecery Logo" class="logo" />
</header>

<style>
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #F9F5F2;
  }

  .logo {
    height: 4rem;
  }

  .nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #000;
  }

  .icons a {
    margin-left: 1rem;
  }
</style>
