<header>
  <img src="/images/nuecery-no-bg.png" alt="" />
  <nav>
    <a href="#acerca">Acerca de</a>
    <a href="#productos">Productos</a>
    <a href="#puntos">Puntos de venta</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>

